.login-container {
  section.image {
    display: flex;
    align-items: center;
    width: 10%;

    img {
      max-height: 39px;
      height: 70%;
    }
  }

  section.item-name {
    font-size: 0.7rem;
    width: 20%;
  }

  section.used_at {
    width: 30%;
  }

  section.collections {
    width: 30%;
  }

  section.actions {
    width: 10%;
  }
}
