<mat-accordion>
  <mat-expansion-panel class='mb-3'>
    <mat-expansion-panel-header>
      <mat-panel-title>Password generator</mat-panel-title>
    </mat-expansion-panel-header>

    <p class="mat-subtitle-1 mb-1">Password strength</p>
    <mat-progress-bar
      class="mb-3"
      *ngIf="passwordStrength$ | async as passwordStrength"
      mode="determinate"
      [value]="(passwordStrength / MAX_PASSWORD_STRENGTH) * 100"
    ></mat-progress-bar>

    <div
      class="generated-password"
      *ngIf="password$ | async as password"
      [cdkCopyToClipboard]="password"
      (click)="passwordCopied()"
    >
      {{ password }}
    </div>

    <mat-slider color="accent" discrete (change)="generatePassword($event)" min="4" max="35">
      <input [value]="defaultPasswordLength" matSliderThumb />
    </mat-slider>
    <section class="d-flex flex-column ">
      <mat-checkbox [disabled]="!useSpecialCharacters && !useDigits" [(ngModel)]="useLetters">Letters</mat-checkbox>
      <mat-checkbox [disabled]="!useSpecialCharacters && !useLetters" [(ngModel)]="useDigits">Digits</mat-checkbox>
      <mat-checkbox [disabled]="!useLetters && !useDigits" [(ngModel)]="useSpecialCharacters"
      >Special characters
      </mat-checkbox>
    </section>
  </mat-expansion-panel>

</mat-accordion>
