.container {
  min-width: 600px;
}

.attached-files {
  border-top: 1px solid rgba(221, 221, 221, 0.22);

  td.actions,
  th.actions {
    text-align: end;
  }

  thead tr {
    th {
      padding-bottom: 10px;
    }
  }

  tbody tr {
    border-top: 1px solid rgba(221, 221, 221, 0.22);
    border-bottom: 1px solid rgba(221, 221, 221, 0.22);

    td.name {
      max-width: 200px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
}

#drop-area {
  border: 2px dashed #ccc;
  border-radius: 5px;
  padding: 20px;
  cursor: pointer;
}

#file-input {
  display: none;
}

#file-list {
  list-style: none;
  padding: 0;
}

#file-list li {
  margin: 5px 0;
}
