.auth-container {
  position: absolute;
  min-width: 450px;
  min-height: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  -webkit-box-shadow: 6px 6px 43px 4px rgba(228, 51, 222, 1);
  -moz-box-shadow: 6px 6px 43px 4px rgba(228, 51, 222, 1);
  box-shadow: 6px 6px 43px 4px rgba(228, 51, 222, 1);

  img.login-user {
    margin-left: auto;
    margin-right: auto;
  }

  .login-form {
    img.login-user {
      width: 40%;
    }
  }

  .register-form {
    img.login-user {
      width: 20%;
    }

    h1 {
      color: white;
      text-align: center;
    }
  }
}

.registrationSuccessInfo {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 5px;

  h1 {
    color: whitesmoke;
  }

  p {
    color: #787676;

    span {
      color: var(--mat-badge-background-color);
      cursor: pointer;
    }
  }
}
