<section class="auth-container">
  <form [formGroup]="loginForm" *ngIf="showLogin;else registerForm" class="d-flex flex-column justify-content-center mt-5 p-3 login-form">
    <img class="login-user pb-5" src="/assets/login-user.png">
    <mat-form-field class="pb-3" appearance="outline" >
      <mat-label>Username (email)</mat-label >
      <input matInput formControlName="login">
      <mat-error *ngIf="loginForm.controls['login'].hasError('required')">
        Please enter your email
      </mat-error>
    </mat-form-field>

    <mat-form-field class="" appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password">
      <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
        Please enter your password
      </mat-error>
    </mat-form-field>


    <section class="w-100 d-flex justify-content-between pb-4">
      <button mat-button (click)="showLogin= false">Sign up</button>
      <button mat-button>Forgot password?</button>
    </section>

    <button [disabled]="loginForm.invalid" color="primary" class="w-100" clickPreventDefault (click)="login()" mat-raised-button>Login</button>
  </form>

  <ng-template #registerForm>

    <form class="register-form">

      <button mat-button (click)="showLogin= true">Login</button>
    </form>
  </ng-template>
</section>
