<mat-toolbar color="primary">
  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span style="cursor: pointer" routerLink="logins">Lockdown</span>

  <button mat-icon-button class="logout" matTooltip="Logout" (click)="logout()">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>

<mat-drawer-container class="app-container" autosize>
  <mat-drawer #drawer class="app-sidenav" [mode]="window.innerWidth > 600 ? 'side' : 'over'">
    <mat-nav-list>
      <mat-list-item routerLink="logins">
        <span><mat-icon class="mr-3">lock</mat-icon><span>Logins</span></span>
      </mat-list-item>

      <mat-list-item routerLink="payments">
        <span><mat-icon class="mr-3">credit_card</mat-icon><span>Payments</span></span>
      </mat-list-item>

      <mat-list-item routerLink="secured-notes">
        <span><mat-icon class="mr-3">note</mat-icon><span>Secured Notes</span></span>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>
  <div class="app-sidenav-content">
    <router-outlet></router-outlet>
  </div>
  <mat-drawer #itemDetails
              [mode]="'over'"
              [disableClose]="true"
              [opened]="(detailsOpen$ | async ) || false"
              class="app-sidenav"
              position="end"
  >
    <router-outlet name="details"></router-outlet>
  </mat-drawer>
</mat-drawer-container>


